<!DOCTYPE html>
<html>
<head>
	<title>Team Tonkatsu 340 Project - Spring 2019</title>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

<link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:300,300italic,700,700italic">


<link rel="stylesheet" href="//cdn.rawgit.com/necolas/normalize.css/master/normalize.css">


<link rel="stylesheet" href="//cdn.rawgit.com/milligram/milligram/master/dist/milligram.min.css">	
 
</head>
<body>

	{{#each jsscripts}}
	<script src="/{{this}}"></script>
	{{/each}}
	<script src="./deleteProduct.js"></script>
	<script src="./deleteSection.js"></script>
	<script src="./deleteLocation.js"></script>
	<script src="./searchproducts.js"></script>
	<script src="./searchsections.js"></script>
	<script src="./searchlocation.js"></script>
	<script src="./searchcustomer.js"></script>
	<script src="./updatecustomer.js"></script>
	<script src="./searchworker.js"></script>
	<script src="./filtercustomers.js"></script>
	<script src="./deleteWorker.js"></script>
	<script src="./deleteCustomer.js"></script>
	<script src="./filterworkers.js"></script>
	{{{body}}}
</body>
</html>
