<h1> Supermarket Tonkatsu Store</h1>
<h2> Manager Settings: see customers, products, employees, sections, and locations</h2>
<form class="form-horizontal episode">
  <input id="title" class="col-sm-10" type="text">
  <button class="search btn btn-submit">Add</button>
</form>
<h3>Results:</h3>
<ul class="search_results"></ul>
