<link rel="stylesheet" href="./home.css">

<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
		<li class="breadcrumb-item"><a href="/customersproducts">Customers Purchase History</a></li>
	</ol>

 <h1 class="display-4">Supermarket Tonkatsu Database</h1>
      
    </div>
<br>
<br>

<div class="image">
	<img src="https://scontent-lax3-2.xx.fbcdn.net/v/t1.15752-9/61613735_2283513028364097_7253028276254277632_n.png?_nc_cat=107&_nc_ht=scontent-lax3-2.xx&oh=41e93e5a29968b8612d743aafe628ea5&oe=5D57FB58">


</div>
