<main>
<div class="container">
	<ol class="breadcrumb">
		<li class="breadcrumb-item"><a href="/">Home</a></li>
		<li class="breadcrumb-item"><a href="/customers">Customers</a></li>
		<li class="breadcrumb-item"><a href="/products">Products</a></li>
		<li class="breadcrumb-item"><a href="/workers">Workers</a></li>
		<li class="breadcrumb-item"><a href="/sections">Sections</a></li>
		<li class="breadcrumb-item"><a href="/locations">Locations</a></li>
		<li class="breadcrumb-item"><a href="/customersproducts">Customers Purchase History</a></li>
	</ol>

        <div class="container">
            <h1 class="display-4">Sections</h1>
            <p class="lead">Supermarket Tonkatsu Database</p>
        </div>
          
</div>
<br>
<h3>Add Section</h3>


  <div>

  <form action="/sections" method="post">
    <div>
      <div class="fields">
        <div class="field">
          <label>Name: </label>
          <input name="sname" type="text" required="required">
        </div>
      </div>

        
<button type="submit">Submit</button>
</div>
</form>
  </div>

  <table>
    <thead>
      <th>Section ID</th>
      <th>Name</th>
    </thead>
    <tbody>
      {{#each sections}}
      <tr>
          <td>{{sid}}</td>
          <td>{{sname}}</td>
<form id='delete_section' action='/:sid' method='delete'>
	  <td><button onclick="deleteSection({{sid}})">Delete</button></td>
</form>
	  <td><button href="/sections/{{sid}}">Update</button></td>
      </tr>
      {{/each}}

    </tbody>
  </table>

</main>
