.container{
position: relative;
align-items: center;
    justify-content: center;
}
.breadcrumb-item{
position: relative;
display:inline;
}

body {
position: relative;
align-items: center;
    justify-content: center;
}

img {
position: relative;
align-items:center;
justify-content:center;}

